<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.sixcapital.mybatis.mapper.EmployeeMapper">

    <!--select查询语句-->
    <select id="getEmployeelist" resultType="Employee">
       select * from employee;
   </select>

    <select id="getEmployeeByEmpno" parameterType="int" resultType="Employee">
        select *  from employee where empno =#{empno};
    </select>

    <insert id="addEmployee" parameterType="Employee">
        insert  into employee values (#{empno},#{ename},#{job},#{mgr},#{hiredate},#{sal},#{deptnu});
    </insert>

    <update id="updateEmployee" parameterType="Employee">
        update employee set ename =#{ename}, job=#{job}  where empno=#{empno};
    </update>

    <delete id="deleteEmployee" parameterType="int">
        delete from employee where empno=#{empno};
    </delete>

    <!--对象中的属性，可以直接取出来    传递map的key-->
    <update id="updateEmployee2" parameterType="map">
        update employee set  ename=#{name},job=#{job} where empno=#{id};
    </update>


    <!--
        SQL注入：？替换成其他sql语句
        select *  from  employee where empno=? ;
        select *  from  employee where empno=1 or 1=1 ;
    -->
    <select id="getEmployeeLike" resultType="Employee">
        select *  from employee where ename like #{name};
    </select>


</mapper>