<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>

    <properties resource="db.properties"/>

<!--    <typeAliases>-->
<!--        <typeAlias type="com.sixcapital.mybatis.entity.Employee" alias="Employee"/>-->
<!--    </typeAliases>-->
    
    <typeAliases>
        <package name="com.sixcapital.mybatis.entity"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--每一个Mapper.xml都需要在mybatis核心配置文件中注册 -->
    <mappers>
<!--        <mapper resource="com/sixcapital/mybatis/mapper/EmployeeMapper.xml"/>-->
<!--        <mapper resource="com.sixcapital.mybatis.mapper.EmployeeMapper"/>-->
        <mapper resource="com.sixcapital.mybatis.mapper"/>
    </mappers>

</configuration>